@use "../../sass/utils/variables" as var;

.home-container {
    height: calc(100vh - 250px);
    font-family: 'Montserrat-Regular';
    max-width: 800px !important;
    p {
        color: var.$neutral-01;
    }
}